/* Default styles for larger screens */
.container {
  display: flex;
}

.leftCase {
  border-right: 1px solid var(--box-border);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  flex-basis: 20%;
}

.asideCaseItmes {
  padding: 15px;
  margin: 10px;
  color: var(--font-color);
}

.asideCaseItmes:hover {
  background-color: #e2e8f0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: var(--main-color);
}

.rightCase {
  padding: 5px;
  flex-basis: 80%;
}

.CheckBox {
  display: flex;
  width: 30%;
  padding: 10px;
  gap : 12px;
}

input[type="checkbox"] {
  width: 20px;
  cursor: pointer;
}

.cardCase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: 10px;
}

.OuterBox {
  padding: 10px;
  height: 18rem;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.OuterBox:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transform: scale(1.01);
}

.middleBox {
  border: 4px solid var(--main-color);
  height: 13rem;
  border-radius: 5px;
}

.shapes {
  border: 1px solid;
  margin: 10px;
  background-color: var(--main-color);
  height: ;
}

.title {
  margin: 4px;
  text-align: left;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .leftCase {
    border-right: none; /* Remove right border on smaller screens */
    box-shadow: none; /* Remove box shadow on smaller screens */
    flex-basis: 100%;
  }

  .rightCase {
    flex-basis: 100%;
  }

  .CheckBox {
    width: 100%; /* Allow checkboxes to take full width on smaller screens */
  }

  input[type="checkbox"] {
    width: auto; /* Allow checkbox to take full width on smaller screens */
  }

  .cardCase {
    grid-template-columns: 1fr 1fr; /* Adjust the number of columns on smaller screens */
  }
}
